input {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.textInput {
  padding: 0.5rem;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  border: solid 2px rgb(156, 156, 156);
}

.textInput:focus {
  outline: none;
}

.card-country {
  background-color: #dde6ed;
  padding: 1rem;
  width: fit-content;
  border-radius: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* General */
.my {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.m1 {
  margin: 0.5rem;
}
